apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: canary-demo-preview
  annotations:
    ingress.kubernetes.io/proxy-body-size: 100M
    ingress.kubernetes.io/app-root: /
spec:
  ingressClassName: nginx
  rules:
  - host: daniel-dev.hybrid-team.cf-cd.com
    http:
      paths:
      - path: /preview
        pathType: Prefix
        backend:
          service:
            name: canary-demo-preview
            port:
              number: 80
